*,
*::before,
*::after {
    box-sizing: border-box;
}

::selection {
    background-color: $color-black;
    color: $color-white;
}

a:focus,
input:focus {
    outline: none;
    color: inherit;
    text-decoration: none;
}

a {
    text-decoration: none;
    transition: 0.2s color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul,
li {
    padding: 0;
    margin: 0;
    list-style: none;
}

fieldset {
    margin: 0;
    padding: 0;
    border: 0;
}

.hidden {
    display: none;
}
