$color-white: #fff;
$color-black: #000;
$color-gray: #222222;

$color-blue-midnight: #05172c;
$color-blue-curious: #59feff;
$z-index-noscript: 1000;

$color-white-trans: rgba(255, 255, 255, 0.5);
$color-black-trans: rgba(0, 0, 0, 0.4);
$color-black-dark-trans: rgba(0, 0, 0, 0.8);

$font-main: "Lato", sans-serif;
